<div class="center-div bg-dark">
  <div class="card" style="width: 30rem;">
    <div class="card-body">
      <h4 class="card-title text-center">{{title | uppercase}}</h4>
      <form #lovecalc = "ngForm" (ngSubmit) = "onClickSubmit(lovecalc.value)">
        <input type="text" class="mt-4 form-control" name="yname" placeholder="Enter your name" ngModel>
        <input type="text" class="mt-3 form-control" name="pname" placeholder="Enter your partner name" ngModel>
        <button type="submit" class="mt-4 btn btn-block btn-danger">Calculate Love %</button>
      </form>
      <div class="blockquote-footer">
        <h3>Your Love percent is {{ lvpercent }}</h3>
      </div>
    </div>
  </div>
</div>


<router-outlet></router-outlet>